<html>
<head>
  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../bower_components/calendar.js/calendar.js"></script>
  <script type="text/javascript" src="../dist/ng-calendar.js"></script>
  <script type="text/javascript" src="../bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="../bower_components/moment/lang/de.js"></script>
  <link href="styles.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    angular.module('ngCalendarExample', ['ngCalendar']).controller('AppCtrl', function ($scope, $http) {
      
      $scope.date = new Date();

      $scope.events = [
        { title: 'Movable!', date: new Date(), status: 'draft' },
        { title: 'Not movable', date: new Date(2014, 3, 20), status: 'published' }
      ];
      
      $scope.momdate = moment($scope.date);

      $scope.nextMonth = function () {   
        $scope.date = new Date($scope.date.getFullYear(), $scope.date.getMonth()+1);
        $scope.momdate = moment($scope.date);
      };

      $scope.previousMonth = function () {   
        $scope.date = new Date($scope.date.getFullYear(), $scope.date.getMonth()-1);
        $scope.momdate = moment($scope.date);
      };

      $scope.calDrop = function (item, targetDay, originDay) {
        console.log(item);
        console.log(targetDay, originDay);
      };
    });
  </script>
</head>
<body ng-app="ngCalendarExample">
  <div ng-controller='AppCtrl'>
    <h1>{{momdate.format('MMMM YYYY')}}</h1>
    <button ng-click="previousMonth()">Previous Month</button>
    <button ng-click="nextMonth()">Next Month</button>
    <table class="calendar-table" calendar="weeksCalendar" cal-weeks="4" cal-date="date" cal-week-start="1" cal-populate="event.date for event in events" cal-drop="calDrop($item, $targetDay, $originDay)">
      <tr ng-repeat="week in calendar">
        <td ng-repeat="day in week" ng-class="{ today: day.today, thismonth: day.thisMonth }" data-day="{{day.date}}" data-month="{{day.month}}">
        <span class="date">{{day.date.getDate()}}</span>
        <div class="calendar-element" cal-element="event in day.data" >
          <span class="event" cal-element-candrag="event.status == 'draft'">{{event.title}}</span>
        </div>
        </td>
      </tr> 
    </table>
  </div>
</body>
</html>