/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, screen.scss */
body {
  font-family: "Helvetica Neue";
}

/* line 12, screen.scss */
table.calendar-table {
  border: solid;
  border-color: blue;
  border-width: 1px;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
}

/* line 23, screen.scss */
.calendar-table td {
  width: 150px;
  height: 100px;
  border: solid;
  border-width: 1px;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

.calendar-table td a {
  text-decoration: none;
  display: inline-block;
  color: white;
}

/* line 33, screen.scss */
.calendar-table td span.date {
  font-size: 10px;
  display: block;
}

.calendar-table td .calendar-element {
  overflow: hidden;
  height: 90px;
}

.event {
  margin: 2px 0px;
  background-color: lightblue;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  width: 150px;
  cursor: hand;
  display: block;
}
