<html>
<head>
  <script type="text/javascript" src="components/angular-1.2/angular.js"></script>
  <script type="text/javascript" src="components/angular-1.2/angular-resource.js"></script>
  <script type="text/javascript" src="lib/calendar.js"></script>
  <script type="text/javascript" src="lib/ng-calendar.js"></script>
  <script type="text/javascript" src="components/moment/moment.js"></script>
  <script type="text/javascript" src="components/moment/lang/de.js"></script>
  <link href="assets/css/styles.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    angular.module('ngCalendarExample', ['ngResource', 'ngCalendar']).controller('AppCtrl', function ($scope, $resource, $http) {
      
      $scope.date = new Date();

      // $http.get('/assets/events.json').success(function(data){
      //   $scope.events = data.sort(function(a,b) {
      //     if (a.date <= b.date) {
      //       return -1;
      //     }
      //     return 1;
      //   });
      //   $scope.date = new Date();
      // });

      $scope.events = [
        { title: 'Test', date: new Date() }
      ];
      
      $scope.momdate = moment($scope.date);

      $scope.nextMonth = function () {   
        $scope.date = new Date($scope.date.getFullYear(), $scope.date.getMonth()+1);
        $scope.momdate = moment($scope.date);
      };

      $scope.previousMonth = function () {   
        $scope.date = new Date($scope.date.getFullYear(), $scope.date.getMonth()-1);
        $scope.momdate = moment($scope.date);
      };

      $scope.calDrop = function (item, targetDay, originDay) {
        console.log(item);
        console.log(targetDay, originDay);
      };
    });
  </script>
</head>
<body ng-app="ngCalendarExample">
  <div ng-controller='AppCtrl'>
    <h1>{{momdate.format('MMMM YYYY')}}</h1>
    <button ng-click="previousMonth()">Previous Month</button>
    <button ng-click="nextMonth()">Next Month</button>
    <div calendar="monthCalendar" cal-date="date" cal-week-start="1" cal-weeks="2" cal-populate="event.date for event in events" cal-drop="calDrop($item, $targetDay, $originDay)"></div>
  </div>
</body>
</html>