<html>
<head>
  <script type="text/javascript" src="components/angular/angular.js"></script>
  <script type="text/javascript" src="lib/calendar.js"></script>
  <script type="text/javascript" src="lib/ng-calendar.js"></script>
  <script type="text/javascript" src="components/moment/moment.js"></script>
  <script type="text/javascript" src="components/moment/lang/de.js"></script>
  <script type="text/javascript">
    function AppCtrl ($scope) {
      $scope.date = new Date();
      $scope.momdate = moment($scope.date);
      $scope.populate = function (date, thisMonth, today, pastDay) {
        return today ? 'Heute' : 'Nicht heute';
      }
      $scope.nextMonth = function () {   
        $scope.date = new Date($scope.date.getFullYear(), $scope.date.getMonth()+1);
        $scope.momdate = moment($scope.date);
      }
      $scope.previousMonth = function () {   
        $scope.date = new Date($scope.date.getFullYear(), $scope.date.getMonth()-1);
        $scope.momdate = moment($scope.date);
      }
    };
  </script>
  <link href="assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body ng-app="ng-calendar">
  <div ng-controller='AppCtrl'>
    <h1>{{momdate.format('Do MMMM YYYY')}}</h1>
    <button ng-click="previousMonth()">Previous Month</button>
    <button ng-click="nextMonth()">Next Month</button>
    <div class="calendar-table" data-calendar="monthCalendar" data-calendar-date="date" data-week-start="0" data-weeks="2" data-populate="populate"></div>
  </div>
</body>
</html>